# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# FastAPI logs
*.log

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env.local

# React build
build/
*.lock

# VS Code
.vscode/

# Ignore uploaded resumes
backend/uploads/

# Ignore media clips
*.mp4
*.mav
*.mp3

# Ignore Video 401/USER_NOT_REGISTERED errors
*video*.py
